mixin combobox-size(options, id, name)
  span(class=`combobox combobox-${id}`)
    input(class='visually-hidden' name=`${name}` aria-hidden='true' tabindex='-1' placeholder=' ' required 
          value=`${options[0].depth} СМ × ${options[0].width} СМ × ${options[0].height}`)
    span(class='combobox--input' tabindex='0' role='combobox'
        aria-controls=`${id}-options` 
        aria-haspopup='listbox' 
        aria-expanded='false' 
        aria-label=`${name}` 
        aria-autocomplete='none') #{options[0].depth} СМ × #{options[0].width} СМ × #{options[0].height} СМ
    span(class='combobox--options' id=`${id}-options` role='listbox')
      each option, index in options
        span(class='no-wrap combobox--item' id=`${id}-${index}` role='option' aria-selected='false') #{option.depth} СМ × #{option.width} СМ × #{option.height} СМ
