mixin order-table(orders)
  table(class='order-table')
    thead
      tr(class='order-table--row')
        th(class='order-table--cell order-table--cell_head' scope='col') Товар
        th(class='order-table--cell order-table--cell_head' scope='col') Цена
        th(class='order-table--cell order-table--cell_head' scope='col') Дата
        th(class='order-table--cell order-table--cell_head' scope='col') Статус
    tbody
      if orders
        each item in orders
          tr(class='order-table--row')
            - var order = require(`BD/order/${item}.json`)
            - var product = require(`BD/product/${order.product}/preview.json`)
            th(class='order-table--cell order-table--cell_name' scope='row')
              picture
                source(srcset=require(`Images/product/${order.product}/preview/1-200w.webp`).default type='image/webp')
                img(class='order-table--img' src=require(`Images/product/${order.product}/preview/1-200w.jpg`).default width='40' height='30' alt=`${product.alt}.`)
              span #{order.name}
            td(class='order-table--cell') <span class='order-table--label'>Цена:</span> #{order.price} 
            td(class='order-table--cell') <span class='order-table--label'>Дата:</span> #{order.data}
            td(class='order-table--cell') <span class='order-table--label'>Статус:</span> #{order.status}
      else 
        p Нет заказов
  a(class='order-table--link' href='#') Смотреть все
