include ../icon/icon.pug
div(class='carousel' role='group' aria-roledescription='карусель' aria-label='фото мебели')
  div(class='carousel--controls')
    button(class='carousel--control carousel--control_prev' type='button' data-carousel='prev-slide'
            aria-controls='carousel-hero--slide-list')
      span(class='visually-hidden') предыдущий слайд
      +icon('arrow')
    button(class='carousel--control carousel--control_next' type='button' data-carousel='next-slide'
            aria-controls='carousel-hero--slide-list')
      span(class='visually-hidden') следующий слайд
      +icon('arrow')
  div(class='carousel--slide-list' id='carousel-hero--slide-list')
    div(class='carousel--slide' role='group' aria-roledescription='слайд' aria-label='1 из 3' data-carousel='slide')
      picture
        source(srcset=`${require('Images/carousel-hero/1-440w.webp').default} 440w,
                       ${require('Images/carousel-hero/1-680w.webp').default} 680w,
                       ${require('Images/carousel-hero/1-1140w.webp').default} 1140w,
                       ${require('Images/carousel-hero/1-2280w.webp').default} 2280w`
              sizes='(min-width: 1200px) 1140px, calc(100% - var(--layout-h-spaces))'
              type='image/webp')
        source(srcset=`${require('Images/carousel-hero/1-440w.jpg').default} 440w,
                       ${require('Images/carousel-hero/1-680w.jpg').default} 680w,
                       ${require('Images/carousel-hero/1-1140w.jpg').default} 1140w,
                       ${require('Images/carousel-hero/1-2280w.jpg').default} 2280w`
              sizes='(min-width: 1200px) 1140px, calc(100vw - var(--layout-h-space) * 2)'
              type='image/jpg')
        img(src=require('Images/carousel-hero/1-1140w.jpg').default width='1140' height='450' alt='кресло в комнате')
    div(class='carousel--slide' role='group' aria-roledescription='слайд' aria-label='2 из 3' data-carousel='slide' aria-hidden='true')
      picture
        source(srcset=`${require('Images/carousel-hero/2-440w.webp').default} 440w,
                       ${require('Images/carousel-hero/2-680w.webp').default} 680w,
                       ${require('Images/carousel-hero/2-1140w.webp').default} 1140w,
                       ${require('Images/carousel-hero/2-2280w.webp').default} 2280w`
              sizes='(min-width: 1200px) 1140px, calc(100% - var(--layout-h-spaces))'
              type='image/webp')
        source(srcset=`${require('Images/carousel-hero/2-440w.jpg').default} 440w,
                       ${require('Images/carousel-hero/2-680w.jpg').default} 680w,
                       ${require('Images/carousel-hero/2-1140w.jpg').default} 1140w,
                       ${require('Images/carousel-hero/2-2280w.jpg').default} 2280w`
              sizes='(min-width: 1200px) 1140px, calc(100vw - var(--layout-h-space) * 2)'
              type='image/jpg')
        img(src=require('Images/carousel-hero/2-1140w.jpg').default width='1140' height='450' alt='кресло в комнате')
    div(class='carousel--slide' role='group' aria-roledescription='слайд' aria-label='3 из 4' data-carousel='slide' aria-hidden='true')
      picture
        source(srcset=`${require('Images/carousel-hero/3-440w.webp').default} 440w,
                       ${require('Images/carousel-hero/3-680w.webp').default} 680w,
                       ${require('Images/carousel-hero/3-1140w.webp').default} 1140w,
                       ${require('Images/carousel-hero/3-2280w.webp').default} 2280w`
              sizes='(min-width: 1200px) 1140px, calc(100% - var(--layout-h-spaces))'
              type='image/webp')
        source(srcset=`${require('Images/carousel-hero/3-440w.jpg').default} 440w,
                       ${require('Images/carousel-hero/3-680w.jpg').default} 680w,
                       ${require('Images/carousel-hero/3-1140w.jpg').default} 1140w,
                       ${require('Images/carousel-hero/3-2280w.jpg').default} 2280w`
              sizes='(min-width: 1200px) 1140px, calc(100vw - var(--layout-h-space) * 2)'
              type='image/jpg')
        img(src=require('Images/carousel-hero/3-1140w.jpg').default width='1140' height='450' alt='кресло в комнате')